/* Variables */
// Variables for style.scss
$hoverBackgroundColor: gray;
$fontsize: 20px;
$hoverColor: blue;
$imageWidth: 242px;
// Variable for _mobil.scss
$break-small: 767px;
$mobilNavLi: 100% !important;
